<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/todoList/new" method="post">
        <div class="form-group">
            <label for="title">할일</label>
            <input type="text" id="title" name="title" placeholder="할일을 입력하세요.">

            <label for="year">연도</label>
            <input type="number" id="year" name="year" placeholder="yyyy">
            <label for="month">월</label>
            <input type="number" id="month" name="month" placeholder="mm">
            <label for="day">일</label>
            <input type="number" id="day" name="day" placeholder="dd">
        </div>
        <button type="submit">저장</button>
    </form>
</div> <!-- /container -->
</body>
</html>