<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>🗒To-do List</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/janl/mustache.js/master/mustache.min.js"></script>
</head>

<body>
<div class="container">
    <div class="todo_title">
        <h1>✏️ To-do List</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-todo-input-wrap">
                <div class="main-todo-input fl-wrap">
                    <div class="main-todo-input-item">
                        <input style="font-size:15px; font-family:Sunflower" type="text" id="input-title" name="input-title"
                               placeholder="오늘의 할일을 적어보세요.. ✍️">
                        <button class="add-items main-search-button" type="button" id="add-btn">ADD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-todo-input-wrap2">
                <div class="main-todo-input fl-wrap todo-listing">
                    <div>
                        <ul class="ajax-todo-lists">
                            <span>👇 여기 밑으로 할일이 추가가 됩니다.</span>
                            <!-- 여기에 할일이 <li>태그로 구분되어 추가됩니다 :) -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- body 태그가 끝나는 지점에 주로 위치 시킨다. -->
<script src="js/todoScript.js"></script>
</body>

</html>