<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header.html::fragment-header">
    <link href="/css/login-style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Nav bar -->
<div th:replace="/fragments/nav.html :: fragment-navbar">
</div>

<div class="container">
    <form id="signup_form" class="was-validated">
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="username" class="form-control" id="inputUsername" name="username" placeholder="Username" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNickname" class="col-sm-2 col-form-label">Nickname</label>
            <div class="col-sm-10">
                <input type="nickname" class="form-control" id="inputNickname" name="nickname" placeholder="Nickname" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>
<script>
<!--    $(function () {-->

<!--        $("form[ajax=true]").submit(function(e) {-->

<!--            e.preventDefault();-->
<!--            console.log(e, ", " , "hello");-->
<!--        });-->
<!--    });-->

<!--    function signup() {-->
<!--        let jsonData = JSON.stringify({-->
<!--            username: $('#inputUsername').val(),-->
<!--            email: $('#inputEmail').val(),-->
<!--            nickname: $('#inputNickname').val(),-->
<!--            password: $('#inputPassword').val(),-->
<!--        });-->

<!--        $.ajax({-->
<!--            url: "/user/accounts",-->
<!--            method: 'POST',-->
<!--            data: jsonData,-->
<!--            data: jsonData,-->
<!--            contentType: 'application/json',-->
<!--            success: function (result) {-->
<!--                alert('회원가입을 환영합니다.');-->
<!--                location.href = "/";-->
<!--            },-->
<!--            error: function (error) {-->
<!--                if(error.status === 400) {-->
<!--                    alert('중복된 username 입니다. 다시 시도해주세요.');-->
<!--                } else if (error.status === 500) {-->
<!--                    alert('필수값을 확인해주세요');-->
<!--                } else {-->
<!--                    alert('Server Error');-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--    }-->
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>