spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:todos
    username: sa
    password:
    driver-class-name: org.h2.Driver
    initialization-mode: ALWAYS
    data:
      - classpath:data.sql
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: create