server:
  port: 9999
#  servlet:
#    context-path: /api/v1

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:todoItem
  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  output:
    ansi:
      enabled: always

logging:
  level:
    me.iseunghan: DEBUG
    org.hibernate.sql: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

jwt:
  config:
    auth_header: Authorization
    auth_type: Bearer
    expiration: 1_800_000  # 30ë¶„
    secret: my-secret-key
