.main-todo-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    margin-top: 0px; /*200px*/
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.9)
}

.fl-wrap {
    float: left; /* 본문 왼쪽에 떠있어라는 뜻 */
    width: 100%;
    position: relative
}

.main-todo-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 52px;
    position: relative
}

.main-todo-input-item input:first-child {
    border-radius: 100%
}

.main-todo-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #6DBA57;
}

.main-search-button {
    position: absolute;
    right: -121px;
    height: 52px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer
}

.main-todo-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative;
}

.main-todo-input-wrap2 {
    max-width: 630px;
    margin: 30px auto;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

:focus {
    outline: 0
}

@media only screen and (max-width: 768px) {
    .main-todo-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-todo-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-todo-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
}

.remove {
    float: right;
    color: #757575 !important;
    font-size: 14px
}

ul {
    padding: 0;
    text-align: left;
    list-style: none
}

.todo-text {
    color: #757575;
    margin-left: 10px
}

/* todo본문 제목 */
.todo_title {
    font-family: 'Sunflower', sans-serif;
    color: dimgrey;
}

.empty-todo-list {
    position: relative;
    width: 98%;
    padding: 8px;
    margin: 8px 7px;
    border-radius: 3px;
    text-align: center;
    background: #FAFAFA;
    font-family: 'Sunflower', sans-serif;
    font-size: 18px;
    color: #000;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1)
}

.todo-item {
    position: relative;
    width: 98%;
    padding: 8px;
    margin: 8px 7px;
    border-radius: 3px;
    background: #FAFAFA;
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
    color: #000;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1)
}

.todo-item2 {
    position: relative;
    width: 98%;
    padding: 8px;
    margin: 8px 7px;
    border-radius: 3px;
    background: #DFDDDD;
    color: dimgrey;
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;

    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3)
}

.check-item {
    text-align: right;
    margin-top: -25px;
}

/* checked 클래스를 부여하게 되면, 할일이 완료 됐음을 시각적으로 표현해줍니다. */
.checked {
    background: #BDBDBD;
    color: #F2F2F2;
    text-decoration: line-through;  /* 취소 선 */
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    width: 510px;
    padding: 12px 8px 12px 40px;
    background: #f9f9f9;
    font-size: 18px;
    font-family: 'Sunflower', sans-serif;
    transition: 0.2s;
    box-shadow: 0px 0px 0px 0.2px rgba(0, 0, 0, 0.9);

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 마우스를 올려놓으면 배경이 검게 변하게 됩니다. */
ul li:hover {
    background: #E6E6E6;
}

/* 클릭을 하게 되면, 체크 표시가 나타나게 됩니다. */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* 삭제 버튼 스타일 */
.delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

/* 삭제 버튼 위에 마우스 올리면, 빨간색으로 변하게 됩니다. */
.delete:hover {
    background-color: #f44336;
    color: white;
}