<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/header.html::fragment-header">
    <link href="css/index-style.css" rel="stylesheet"/>

</head>

<body>
<!-- Nav bar -->
<div th:replace="/fragments/nav.html::fragment-navbar">
</div>

<!-- Masthead-->
<header class="masthead">
    <div class="container-fluid">
        <!--                <div class="card" style="height: calc(100vh - 5rem);">-->
        <!--                    <h1 class="card-body" style="background-image: url(https://images.pexels.com/photos/12088372/pexels-photo-12088372.jpeg);background-size: cover;">Let's Write My TodoList!</h1>-->
        <!--                    <a sec:authorize="isAnonymous()" class="btn btn-primary" href="/login">Go To My TodoList!</a>-->
        <!--                    <a sec:authorize="hasRole('ROLE_USER')" class="btn btn-success btn-lg" href="/user">Go To My TodoList!</a>-->
        <!--                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success btn-lg" href="/admin">Go To Admin Page!</a>-->
        <!--                </div>-->
        <div class="card" style="height:100vh">
            <div class="card-img-top" alt="Card image"
                 style="height: 95%; background: url(https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80); background-size: cover; background-position: center;">
                <div class="card-img-overlay" style="padding: 125px 124px;">
                <h1 class="card-title">Todo App</h1>
                <p class="card-text">Make Your Todo List Now!</p>
                <a sec:authorize="isAnonymous()" class="btn btn-primary btn-lg" href="/login">Go To My TodoList!</a>
                <a sec:authorize="hasRole('ROLE_USER')" class="btn btn-success btn-lg" href="/user">Go To My
                    TodoList!</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success btn-lg" href="/admin">Go To Admin
                    Page!</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</header>

<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <p class="text-muted small mb-4 mb-lg-0">&copy; iseunghan 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://github.com/iseunghan"><i class="bi-github fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--        <script src="js/scripts.js"></script>-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
